<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/">Ceube</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/musicas">Músicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/albuns">Albuns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/artistas">Artistas</a>
        </li>
        {{#if eAdmin}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Adicionar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/adicionar-artista">Artista</a>
            <a class="dropdown-item" href="/admin/adicionar-musica">Música</a>
            <a class="dropdown-item" href="/admin/adicionar-album">Album</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Gerir
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/artistas">Artistas</a>
            <a class="dropdown-item" href="/admin/musicas">Músicas</a>
            <a class="dropdown-item" href="/admin/albuns">Albuns</a>
          </div>
        </li>
        {{/if}}
      </ul>
      <form action="/pesquisa" method="GET" class="form-inline my-2 my-lg-0 mr-3">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <ul class="navbar-nav">
        {{#if utilizador}}
        <li class="nav-item">
          <a class="nav-link" href="/perfil/{{utilizador.username}}">{{utilizador.nome}}</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#iniciar-sessao">Iniciar
            Sessão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#criar-conta">Criar Conta</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="iniciar-sessao" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iniciar Sessão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/iniciar-sessao" method="POST" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="emailUser">Email ou Username</label>
            <input type="text" name="emailUser" class="form-control" id="emailUser">
          </div>
          <div class="form-group">
            <label for="senha-iniciar">Senha</label>
            <input type="password" name="senha" class="form-control" id="senha-iniciar">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" name="lembrar" class="form-check-input" id="lembrar">
            <label class="form-check-label" for="lembrar">Lembrar-se de mim</label>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Iniciar Sessão</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="criar-conta" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar Conta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/criar-conta" method="POST">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="nome" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="apelido">Apelido</label>
            <input type="text" name="apelido" class="form-control" id="apelido" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" name="senha" class="form-control" id="senha">
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Criar Conta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>