<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Euclides Bernardo">
  <title>Músicos</title>
  <script src="/js/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.css" />
</head>

<body class="bg-light">
  {{>_navbar}}
  <div class="container mt-3 mb-3">
    {{{body}}}
  </div>
  <script src="/js/bootstrap.js"></script>
</body>

</html>