<h3>Adicionar Gênero</h3>

<form action="/admin/genero/adicionar" method="POST">
  <div class="form-group">
    <label for="nome">Nome do Gênero</label>
    <input type="text" name="nome" id="nome" class="form-control" autocomplete="off" />
  </div>
  <input type="submit" value="Adicionar Gênero" class="btn btn-primary" role="button">
</form>